button {
  width: 100%;
}

.login {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.formulario {
  width: 300px;
  margin-left: 30px;
  background-color: #E66808;
}


.boton2 {
  background-color: #E66808;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}

.iniciosesion {
  background-color: #E66808;
  font-size: 1em;
  height: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.Text1{
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.example-full-width{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.registro {
  font-size: 1em;
  //width: 80px;
  height: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


.texto {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  height: 1em;
}



.grid-item1 {
  //width: 100em;
  //height: 400px;
  margin-right: 40px;
}

.grid-item2 {
  width: 400px;
  margin-right: 20px;
}

@media (max-width: 901px) {
  .logo1 {
    display: none;
  }

  .login {
    max-width: 300px;
    min-width: 170px;
  }

  .grid-item2 {
    margin-left: 20px;
  }

}

.pagina {
  background-image: url('../../../assets/img/LoginBG-01.png');
  background-position: center;
  background-size: 1000px;
}

.logo2 {
  margin-left: 45px;
  margin-top: 10px;
  align-items: center;
}


@media (min-width: 901px) {
  .logo2 {
    display: none;
  }
}

// @media (max-width: 304px) {
//   .logo2 {
//     display: none;
//   }
// }