.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .boton2{
    background-color: #E66808;
  font-size: 1em;
  height: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  }
  .justify-content-center {
    font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  }
  .text{
    font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  }
  