<!-- <div class="container-fluid d-flex justify-content-center"> -->
<div class="">
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid p-4 shadow justify-content-center align-items-center col-11">
      <button class="navbar-toggler col-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand ms-5" href="#"><img src="https://cdn-icons-png.flaticon.com/128/1807/1807382.png" alt=""
          style="width: 80%" /></a>

      <button class="navbar-toggler col-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContentUser" aria-controls="navbarSupportedContentUser" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa-solid fa-circle-user me-3 icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">People</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContentUser">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="icon" href="#"><i class="fa-solid fa-house me-3"></i></a>
          </li>
          <li class="nav-item">
            <a class="icon" href="#"><i class="fa-solid fa-user me-3"></i></a>
          </li>
          <li class="nav-item">
            <a class="icon" href="#"><i class="fa-solid fa-circle-user me-3"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 </div> 
<!-- </div> -->