<footer class="bg-light text-center text-lg-start container-fluid justify-content-center">
    <!-- Copyright -->
    <div class="row justify-content-center">
    <div class="text-center p-3" style="background-color: #000072;">
      © 2022 Copyright - Create by
    </div>
    <div class="col-4 pb-2 justify-content-center" style="background-color: #000072;">
        Ximena Combariza - Ing. Sistemas
    </div>
    <div class="col-4 pb-2 justify-content-center" style="background-color: #000072;">
        Sebastian Pelaez - Piloto
    </div>
    <div class="col-4 pb-2" style="background-color: #000072;">
        Richard Figueroa - Estudiante
    </div>
</div>
    <!-- Copyright -->
  </footer>