footer{
    color: white;
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}
.col-4{
    color: white;
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}
