.QuestionTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color:white;
    text-align: center;
}
.blueRowPost{
background-color: #000072;
}
.inputQuestion{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    width: 100%;
}
.PostButton{
    background-color: #000072;
    color: white;
}
.cancelPost{
    align-items: center;
}