.PostButton{
    background-color: #E66808;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.Text1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}
.Text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}