<div class="container-fluid principalContainer justify-content-center border">
    <div class="row d-flex orangeRowPost align-items-center">
        <span class="postTittleText">Publicar un viaje</span>
    </div>

    <mat-form-field class="mt-1 tripTittle">
        <input matInput placeholder="Agrega un titulo a tu viaje" value="">
    </mat-form-field>

    <div class="row justify-content-center tripTittle ">
        <!--Medio de trasporte-->
        <div class="col-lg-6 col-md-6 col-sm-10 mb-2 vehicle">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-10 selecLabels">
                <mat-label class="">Selecciona medio de transporte</mat-label>
                <mat-select>
                    <mat-option class="options" value="option1">Moto</mat-option>
                    <mat-option class="options" value="option3">Carro</mat-option>
                    <mat-option class="options" value="option3">Avión</mat-option>
                    <mat-option class="options" value="option3">Bus</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10 mb-3 vehicleInput">
            <mat-form-field class="tripTittle sm-mb-1">
                <input matInput placeholder="Más detalles" value="">
            </mat-form-field>
        </div>
    </div>
    <!--FIN Medio de trasporte-->

    <div class="row justify-content-center tripTittle mt-3 sm-mt-1">
        <!--Lugar de destino-->
        <div class="col-lg-6 col-md-6 col-sm-10 mt-2 vehicle">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-10 selecLabels mt-1">
                <mat-label class="">Selecciona departamento de destino</mat-label>
                <mat-select>
                    <mat-option class="options" value="option1">Moto</mat-option>
                    <mat-option class="options" value="option3">Carro</mat-option>
                    <mat-option class="options" value="option3">Avión</mat-option>
                    <mat-option class="options" value="option3">Bus</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10  mt-2 vehicleInput">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-10 selecLabels mt-1">
                <mat-label class="">Selecciona ciudad de destino</mat-label>
                <mat-select>
                    <mat-option class="options" value="option1">Moto</mat-option>
                    <mat-option class="options" value="option3">Carro</mat-option>
                    <mat-option class="options" value="option3">Avión</mat-option>
                    <mat-option class="options" value="option3">Bus</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!--FIN lugar de destino-->

    <div class="row justify-content-center tripTittle mt-3 ">
        <!--price y temp. Viaje-->
        <div class="col-lg-6 col-md-6 col-sm-10 mt-1 vehicle">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-10 selecLabels mt-4">
                <mat-label class="">Presupuesto Aprox.</mat-label>
                <mat-select>
                    <mat-option class="options" value="option1">$</mat-option>
                    <mat-option class="options" value="option3">$$</mat-option>
                    <mat-option class="options" value="option3">$$$</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10  mt-2 vehicleInput">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-10 selecLabels mt-3 sm-mb-2">
                <mat-label class="">Temporada de viaje</mat-label>
                <mat-select>
                    <mat-option class="options" value="option1">Alta</mat-option>
                    <mat-option class="options" value="option3">Media</mat-option>
                    <mat-option class="options" value="option3">Baja</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div><!-- FINprice y temp. Viaje-->

    <div class="row textArea sm-mt-5"><!--Experiencia-->
        <div class="col-lg-6 col-md-6 col-sm-10 tripTittle mt-4">
            <mat-form-field class="tripTittle mt-5">
                <mat-label>Cuentanos más detalles de tu experiencia</mat-label>
                <textarea matInput placeholder="Hice una ruta de..."></textarea>
              </mat-form-field>
        </div>
    </div><!--FIN Experiencia-->
    <div class="row mb-3">
        <div class="col-lg-6 col-md-3 col-sm-5 mt-3 uploadPhotos">
            <button mat-raised-button class="chooseFileButton shadow" (click)="openBottomSheet()">Cargar Fotos</button>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-5 mt-3 justify-content-end d-flex cancelPost">
            <button mat-raised-button class="cancelButton me-3 shadow" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button class="PostButton shadow" (click)="openBottomSheet()">Publicar</button>
        </div>
    </div>

</div>