.orangeRowPost{
    background-color: #E66808;
  height: 2.5em;
}
.principalContainer{
height: auto;
}
.postTittleText{
    font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  color: white;
}
.tripTittle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000072;
    height: 2.5em;
    width: 100%;
    margin-bottom: 1.5em;
}
.selecLabels {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000072;
    height: 2.5em;
    width: 100%;
}
.options{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000072;
    height: 2.5em;
    width: 100%;
}
.chooseFileButton{
    background-color: #E66808;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.textArea{
    margin-bottom: 5em;
}
.PostButton{
    background-color: #000072;
    color: white;
}