.banner{
    width: 100%;
    height: 50%;
    
    }
    .bannerImage{
        width: 100%;
        height: auto;
        max-height: 400px;
    
      }
      @supports(object-fit: cover){
          .bannerImage{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
      }
      .principalContainer{
        background-color: hsla(180, 6%, 93%, 0.865);
      }
      .profileImage{
        max-width: 200px;
        position: relative
        
      }
      @supports(object-fit: cover){
        .profileImage{
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
    }
    @media (max-width:872px) {
        .banner {
          display: none;
          width: 80px;
        
        }
    }
   .box{
    max-height: 40em;

   }
   .box{
    width:20%;
    height:calc(100% - 200px);
    margin-top:0px;
    background-color:green;
    float:left;
    overflow-y:scroll;
  }
   
 